<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="hero-container">
        <div class="hero-content">
          <h1 class="text-center">{{site.title}}</h1>

          <p class="text-center">
            Hong Jing Khok
          </p>

          <div class="hero-buttons">
            <a href="https://github.com/jinglescode/unity-ml-agents-turret-defense/blob/master/report.pdf"
              ><button class="btn btn-default btn-lg">
                <i class="far fa-file-alt fa-lg" style="margin-right: 10px"></i
                >Report
              </button></a
            >

            <a href="https://github.com/jinglescode/unity-ml-agents-turret-defense/tree/ml-agents"
              ><button class="btn btn-default btn-lg">
                <i class="fab fa-github fa-lg" style="margin-right: 10px"></i
                >Codes
              </button></a
            >

            <!-- <a href="{{ site.medium_link }}"
              ><button class="btn btn-default btn-lg">
                <i class="fab fa-medium fa-lg" style="margin-right: 10px"></i
                >Medium
              </button></a
            > -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
